{
  "server" : {
    "host": "127.0.0.1",
    "port": "8080"
  },
  "database": {
    "host": "127.0.0.1",
    "port": "5432",
    "username": "financial_recorder",
    "password": "FinancialRecorder2023",
    "name": "financial_recorder"
  },
  "redis": {
    "host": "127.0.0.1",
    "port": "6379"
  }
}